<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>PSTK3E0CD3FL</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>0.2</version>
    <name>PST0.2</name>
    <description>Plugin de Ficha para firecast do sistema PST</description>
    <author>PequenoPoldino</author>
    <site>No site</site>
    <contact>No contacts</contact>
</module>
